<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ title|title }}</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" href="{% static "css/problem.css" %}">
        <link rel="stylesheet" href="{% static "css/create_problem.css" %}">
        <link rel="stylesheet" href="{% static "css/test_view.css" %}">
        <link rel="stylesheet" href="{% static "css/test.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body class="my-login-page">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class='container'>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class='nav-item'>
                                <a class='nav-link' href="{% url 'signout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class='nav-item'>
                                <a class='nav-link' href="{% url 'signin' %}">Login</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link' href="{% url 'signup' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>


        <script src="{% static "js/login.js" %}"></script>
        <script src="{% static "js/problem.js" %}"></script>
        <script src="{% static "js/create_problem.js" %}"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
