{% extends "grader/base.html" %}

{% block content %}
    <div class="space"></div>

    <div class="h-100">
        <div class="row d-flex justify-content-center">
            <div class="w-75">
                <a class="btn btn-primary" href="{% url 'test' test_link %}"><i class="fas fa-arrow-left"></i> Back</a>
                <div class="space"></div>
                <h4 class="card-title">Create Problem</h4>
                <form method="POST" class="my-login-validation">
                    {% csrf_token %}

                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" class="form-control mb-3" required>

                    <label for="type">Type:</label>
                    <select class="form-control" name="type" id="type">
                        <option value="coding">Coding</option>
                        <option value="mcq">MCQ</option>
                    </select>
                    <div style="height: 20px;"></div>

                    <label for="statement">Statement:</label>
                    <textarea name="statement" id="statement" class="form-control mb-3 test-data" rows="10" required></textarea>

                    <label for="sample-input">Sample Input:</label>
                    <textarea name="sample-input" id="sample-input" class="form-control mb-3 test-data" rows="5" required></textarea>

                    <label for="test-cases">Test Cases:</label>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="test-cases">
                            <thead>
                                <tr>
                                    <th class="text-center tcn">Test Case Number</th>
                                    <th class="text-center tcd">Test Case Data</th>
                                    <th class="text-center">Remove</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-md btn-primary" id="addBtn" type="button">
                        Test case <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>

                    <div style="height: 20px;"></div>

                    <label for="language">Language:</label>
                    <select class="form-control" name="language" id="language">
                        <option value="c" selected>C</option>
                        <option value="py">Python3</option>
                    </select>
                    <div style="height: 20px;"></div>

                    <label for="code">Solution:</label>
                    <div class="code-editor">
                        <textarea name="code" id="code" placeholder="Enter your code here" required></textarea>
                    </div>

                    <div style="height: 20px;"></div>

                    <label for="marks">Marks:</label>
                    <input type="text" name="marks" id="marks" class="form-control mb-3" required>

                    <div style="height: 20px;"></div>

                    <div class="row">
                        <div class="form-group m-0 create-button col-md-4 col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block">
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="space">

    </div>
{% endblock content %}
