{% extends "grader/base.html" %}

{% block content %}

    <section class="h-100">
        <div class="h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Are you sure you want to delete?</h4>
                            <form method="POST" class="my-login-validation">
                                {% csrf_token %}
                                <div class="form-group row d-flex justify-content-center">
                                    <div class="col-md-6">
                                        <button type="submit" name="yes" class="btn btn-primary btn-block">
                                            Yes
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" name="no" class="btn btn-primary btn-block">
                                            No
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
