{% extends "grader/base.html" %}

{% block content %}

    <div class="space">
    </div>
    <a class="btn btn-primary" href="{% url 'test' test_link %}">Back</a>

    <div class="mt-5">
        <div class="row">

            <!-- Problem Statement -->
            <div class="col-lg-6 test">
                <article>
                    <header class="mb-4">
                        <h3 class="fw-b mb-2">{{ problem.title|title }}</h3>
                        <!-- <div class="text-muted fst-italic mb-2">{{ test.start_time|date:"M d, Y, H:i" }}</div> -->
                        <div class="text-muted fst-italic mb-2">
                            {% if problem.type == 'coding'%}
                                Coding
                            {% elif problem.type == 'mcq' %}
                                MCQ
                            {% else %}
                                Subjective
                            {% endif %}
                        </div>
                    </header>

                    <section class="mb-4">
                        <p class="fs-5 mb-4">
                            {{ problem.data.statement }}
                        </p>
                    </section>
                </article>
                <section class="mb-5">
                    <p class="fs-5 mb-2">
                        $\textbf{Sample Input:}$
                    </p>
                    <p>
                        {{ problem.data.sample_input }}
                    </p>
                    <p class="fs-5 mb-2">
                        $\textbf{Expected Output:}$
                    </p>
                    <p>
                        {{ sample_output }}
                    </p>

                </section>

            </div>

            <!-- Code Editor -->
            <div class="col-lg-6 code-editor">
                <textarea id="code" placeholder="Enter your code here"></textarea>
                <p>
                    <button type="button" id="run-code" class="run-code btn btn-primary">Run Sample</button>
                    <button type="button" id="submit-code" class="submit-code btn btn-primary">Submit</button>
                </p>
                <div style="height: 10px;"></div>
                <div id="sample-run" style="display:none;">
                    Verdict
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
