{% extends "grader/base.html" %}

{% block content %}

    <div class="space">
    </div>
    <a class="btn btn-primary" href="{% url 'test' test_link %}"><i class="fas fa-arrow-left"></i> Back</a>
    <a class="btn btn-primary" href="{% url 'submission' problem.link %}">Submissions</a>

    <div class="mt-5">
        <div class="row">

            <!-- Problem Statement -->
            <div class="col-lg-6 test">
                <article>
                    <header class="mb-4">
                        <h3 class="fw-b mb-2">{{ problem.title|title }}</h3>
                        <div class="text-muted fst-italic mb-2">
                            {% if problem.type == 'coding'%}
                                Coding
                            {% elif problem.type == 'mcq' %}
                                MCQ
                            {% else %}
                                Subjective
                            {% endif %}
                        </div>
                    </header>

                    <section class="mb-4">
                        <p class="fs-5 mb-4">
                            {{ problem.data.statement }}
                        </p>
                    </section>
                </article>
                <section class="mb-5">
                    <p class="fs-5 mb-2">
                        $\textbf{Sample Input:}$
                    </p>
                    <p>
                        {{ problem.data.sample_input }}
                    </p>
                    <p class="fs-5 mb-2">
                        $\textbf{Expected Output:}$
                    </p>
                    <p>
                        {{ sample_output }}
                    </p>

                </section>

            </div>

            <!-- Code Editor -->
            <div class="col-lg-6 code-editor">
                <form method="POST" class="my-login-validation">
                    {% csrf_token %}
                    <textarea name="code" id="code" placeholder="Enter your code here" required></textarea>
                    <p>
                        <button type="submit" id="submit-code" class="submit-code btn btn-primary"><i class="fas fa-paper-plane"></i> Submit</button>
                    </p>
                    <div class="space"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
