{% extends "grader/base.html" %}

{% block content %}

    <section class="h-100">
    	<div class="h-100">
    		<div class="row justify-content-md-center h-100">
    			<div class="card-wrapper">
    				<div class="card fat">
    					<div class="card-body">
    						<h4 class="card-title">Sign In</h4>
    						<form method="POST" class="my-login-validation">
                                {% csrf_token %}

                                {{ form.as_p }}

    							<div class="form-group m-0">
    								<button type="submit" class="btn btn-primary btn-block">
    									Login
    								</button>
    							</div>

    							<div class="mt-4 text-center">
    								Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
    							</div>
    						</form>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

{% endblock content %}
