{% extends "grader/base.html" %}

{% block content %}

    <div class="space"></div>
    <a class="btn btn-primary" href="{% url 'problem' problem_link %}"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="row">
        <div class="col-md-12">
            <div class="space"></div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
                    <div>
                        <div class="table-responsive">
                            <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="mb-0 text-muted"> Submission Id </span>
                                        </th>
                                        <th>
                                            <span class="mb-0 text-muted"> User </span>
                                        </th>
                                        <th>
                                            <span class="mb-0 text-muted"> Submission Time </span>
                                        </th>
                                        <th>
                                            <span class="mb-0 text-muted"> Problem </span>
                                        </th>
                                        <th>
                                            <span class="mb-0 text-muted"> Verdict </span>
                                        </th>
                                        <th>
                                            <span class="mb-0 text-muted"> Score </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for submission in submissions %}
                                        <tr>
                                            <td>
                                                <span class="mb-0 text-muted">{{ submission.id }}</span>
                                            </td>
                                            <td>
                                                <span class="mb-0 text-muted">{{ submission.user }}</span>
                                            </td>
                                            <td class="mb-0 text-muted">
                                                {{ submission.submission_time }}
                                            </td>
                                            <td>
                                                <a class="link" href="{% url 'problem' submission.problem.link %}">
                                                    <span class="text-dark">{{ submission.problem|title }}</span>
                                                </a>
                                            </td>
                                            <td class="text-muted">
                                                {{ submission.verdict|title }}
                                            </td>
                                            <td class="text-muted">
                                                {{ submission.score }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if submissions.has_other_pages %}
        <div class="pagination-wrapper">
            <div class="pagination">
                {% if submissions.has_previous %}
                    <a class="prev page-numbers" href="?page={{ submissions.previous_page_number }}">prev</a>
                {% else %}
                    <a class="disabled prev page-numbers">prev</a>
                {% endif %}

                {% for i in submissions.paginator.page_range %}
                    {% if submissions.number == i %}
                        <span aria-current="page" class="page-numbers current">{{ i }}</span>
                    {% else %}
                        <a class="page-numbers" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if submissions.has_next %}
                    <a class="next page-numbers" href="?page={{ submissions.next_page_number }}">next</a>
                {% else %}
                    <a class="disabled next page-numbers">next</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock content %}
