{% extends "grader/base.html" %}

{% block content %}

    <div class="space"></div>
    <a class="btn btn-primary" href="{% url 'index' %}"><i class="fas fa-arrow-left"></i> Back</a>
    {% if is_teacher and not_started %}
        <a class="btn btn-primary" href="{% url 'create-problem' test_link %}"><i class="fas fa-plus"></i> Problem</a>
    {% endif %}
    {% if is_teacher and not_started %}
        <a class="btn btn-primary" href="{% url 'edit-test' test_link %}"><i class="fas fa-edit"></i> Edit</a>
        <a class="btn btn-primary" href="{% url 'delete-test' test_link %}"><i class="fas fa-trash"></i> Delete</a>
    {% endif %}
    {% has_ended %}
        <a class="btn btn-primary" href="{% url 'result' test_link %}"><i class="fas fa-list-alt"></i> Result</a>
    {% endif %}

    {% for problem in problems %}
        <div class="test-card">
            <div class="card-body">
                <h5 class="card-title">{{ problem.title|title }}</h5>
                <p class="card-text">
                    Type: {{ problem.type|title }}
                    <br>
                    Marks: {{ problem.data.marks }}
                </p>
                <a href="{% url 'problem' problem.link %}" class="btn btn-primary">Open</a>
            </div>
        </div>
    {% endfor %}

    {% if problems.has_other_pages %}
        <div class="pagination-wrapper">
            <div class="pagination">
                {% if problems.has_previous %}
                    <a class="prev page-numbers" href="?page={{ problems.previous_page_number }}">prev</a>
                {% else %}
                    <a class="disabled prev page-numbers">prev</a>
                {% endif %}

                {% for i in problems.paginator.page_range %}
                    {% if problems.number == i %}
                        <span aria-current="page" class="page-numbers current">{{ i }}</span>
                    {% else %}
                        <a class="page-numbers" href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if problems.has_next %}
                    <a class="next page-numbers" href="?page={{ problems.next_page_number }}">next</a>
                {% else %}
                    <a class="disabled next page-numbers">next</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock content %}
