{% extends "grader/base.html" %}

{% block content %}

    <div class="space"></div>
    <a class="btn btn-primary" href="{% url 'index' %}">Back</a>
    {% if is_teacher and not_started %}
        <a class="btn btn-primary" href="{% url 'create-problem' test_link %}">Create Problem</a>
    {% endif %}

    {% for problem in problems %}
        <div class="test-card">
            <div class="card-body">
                <h5 class="card-title">{{ problem.title|title }}</h5>
                <p class="card-text">
                    {% if problem.type == 'coding'%}
                        Coding
                    {% elif problem.type == 'mcq' %}
                        MCQ
                    {% else %}
                        Subjective
                    {% endif %}
                </p>
                <a class="btn btn-primary" href="{% url 'problem' problem.link %}">Open</a>
            </div>
        </div>
    {% endfor %}
    <div style="height:30px;"></div>
    {% if is_teacher and has_ended %}
        <a class="btn btn-primary" href="{% url 'result' test_link %}">Generate Result</a>
    {% endif %}
{% endblock content %}
