.code-editor {
    height: 40em;
    margin: 5px 0px;
    padding: 0px;
}

.code-editor form {
    height: 100%;
}

.submit-code, .run-code {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#code {
    background-color: #3b0952;
    height: 100%;
    width: 98%;
    margin: 0 1%;
    padding: 1em;
    outline: none !important;
    font-size: 1em;
    color: white;
    border: 2px solid black;
    border-radius: 2%;
    tab-size: 4;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.mailbox-widget .custom-tab .nav-item .nav-link {
    border: 0;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.mailbox-widget .custom-tab .nav-item .nav-link.active {
    background: 0 0;
    color: #fff;
    border-bottom: 3px solid #2cd07e;
}

.no-wrap td, .no-wrap th {
    white-space: nowrap;
}

.table td, .table th {
    padding: .9375rem .4rem;
    vertical-align: top;
    border-top: 1px solid rgba(120,130,140,.13);
}

.font-light {
    font-weight: 300;
}

.language-picker {
    margin-bottom: 20px;
}

.language-picker select {
    border-radius: 50px;
}

.mcq-option {
    margin-bottom: 10px;
    font-size: 15px;
}

@media screen and (max-width: 767) {
    .mcq-option {
        margin: 0;
        font-size: 5px;
    }
}
