body {
	font-family: "Audiowide", sans-serif;
	/* gray */
	/* background-color: #e0e0e0; */
	/* light blue-gray */
	background-color: #e8eced;
	/* nav hover color */
	/* background-color: #54eeff; */
	/* light purple */
	/* background-color: #f8f5ff; */
	/* light-green */
	/* background-color: #f0f7f0; */
}

html, body {
	height: 100%;
}

body.my-login-page {
	font-size: 15px;
}

.container .row {
	clear:both
}

.jumbotron {
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
    margin-top: 25%;
	margin-bottom: 25%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.btn {
	margin-bottom: 5px;
}

img {
	border-radius: 10px;
}

.about {
	font-size: 1.5em;
	line-height: 2em;
}

@media screen and (max-width: 480) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
